.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand i {
  color: #ff69b4;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
