.contact-page {
  min-height: 100vh;
}

.contact-info .info-item {
  display: flex;
  align-items: start;
}

.contact-info .info-item h5 {
  margin-bottom: 5px;
  font-weight: 600;
}

.contact-info .info-item p {
  margin: 0;
  color: #666;
}

.social-links .btn {
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
