# Supabase Local Development Config
# Docs: https://supabase.com/docs/guides/cli

[api]
enabled = true
port = 54321
schemes = ["http", "https"]
host = "127.0.0.1"
jwt_secret = "super-secret-jwt-token-with-at-least-32-characters-long"
allow_cors = true

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326
